<nav>
  <div class="navbar">
    <a href="/api/v1/home"><h1>Library</h1></a>
    <p>Books and Magazines</p>
  </div>
  <ul>
    <li><a href="/api/v1/file/upload">Upload</a></li>

    <li><a href="/api/v1/library/books-and-magazines">Books And Magazines</a></li>
    <li><a href="/api/v1/library/books">Books</a></li>
    <li><a href="/api/v1/library/magazines">Magazines</a></li>
    <li><a href="/api/v1/library/book/form">Add Book</a></li>
    <li><a href="/api/v1/library/magazine/form">Add Magazine</a></li>
    <li><a href="/api/v1/library/search/form">Search</a></li>
  </ul>
</nav>
