<!DOCTYPE html>
<html>
  <%- include('./components/header.ejs') %>
  <body>
    <%- include('./components/navbar.ejs') %>
    <%- include('./components/table.ejs') %>
  </body>

  <%- include('./components/footer.ejs') %>
</html>
